﻿@model IEnumerable<MeSkypeProj.Models.MyFile>
@{
    ViewData["Title"] = "Добавление файла";
}
<h3>Выберите файл для загрузки</h3>
<form asp-action="AddFile" asp-controller="Home" method="post" enctype="multipart/form-data">
    <input type="file" name="uploadedFile" /><br>
    <input type="submit" value="Загрузить" />
</form>

<h3>Все файлы</h3>
@foreach (var f in LocalDatabase.Files)
{
    var fileName = f.Name;
    var filePath = f.Path;
    string additionalGarbage = $"filePath={filePath}&fileName={fileName}";
    <p><img src="@Url.Content(f.Path)"></p>

    //<a href="https://localhost:44306/Home/Download + @additionalGarbage">Download file.</a>

    <form asp-action="Download" asp-controller="Home" method="post" enctype="multipart/form-data">
        <input type="hidden" name= "filePath" value="@filePath" /><br>
        <input type="hidden" name= "fileName" value="@fileName"/><br>
        <input type="submit" value="Скачать" />
    </form>
    <p>Количество загрузок: @f.DownloadsAmount</p>
}